<div class="title">
  <h1>Liste des navires</h1>
</div>

<div class="container-boats">
  <mat-card class="card-boats" *ngFor="let boat of boats">
    <mat-card-header>
      <mat-card-title>
        <a href="/boats/{{boat.id}}"><h5 class="card-title"><strong>{{ boat.name }} </strong></h5></a>
      </mat-card-title>

      <mat-card-subtitle>
        <p class="card-content">
         Classe - <a href="/classes/{{boat.classe?.id}}">{{ boat.classe?.name }}</a>
        </p>

      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="card-content" *ngIf="boat.tonnage">Tonnage : {{ boat.tonnage }}</p>
      <p class="card-content" *ngIf="boat.length">Taille {{ boat.length }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">
        <a href="edit/boat/{{boat.id}}">Modifier</a>
      </button>
      <button mat-stroked-button color="warn" (click)="deleteBoat(boat.id)">Supprimer</button>
    </mat-card-actions>
  </mat-card>
</div>
