.title {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}
.container-boats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-boats {
  width: 300px;
  margin: 10px 10px;
}

a {
  text-decoration: none;

}

.card-content {
  font-family: Geneva;
  font-size: medium;
}
